@model  RealEstates.Areas.Admin.Models.QuanLyNhaDatViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    #menuQuanLyNhaDat {
        color: white;
        background-color: dodgerblue;
    }
    .outsite {
        margin-right: 20px;
    }
</style>

@Html.Partial("~/Views/Shared/_Alert.cshtml")

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline-block">Danh sách nhà đất trong hệ thống</h6>
        <a href="@Url.Action("Index","QuanLyLoaiNhaDat")" class="btn btn-success float-right">
            <span class="text-white">Danh sách loại nhà đất</span>
        </a>
        <a href="@Url.Action("New")" class="outsite btn btn-success float-right" title="Tạo mới">
            <span class="text-white"><i class="fas fa-plus fa-fw"></i> Thêm nhà đất</span>
        </a>
    </div>
    <div class="card-body">
        <br />
        <div class="form-horizontal" style="margin-left: 1rem;">
            @using (Html.BeginForm("Search", "QuanLyNhaDat", FormMethod.Get, new { @class = "form-horizontal", role = "form", @name = "searchForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="row">
                        <div class="col d-inline">
                            @Html.DropDownListFor(m => m.TinhThanhPhoId, new SelectList(Model.TinhThanhPhos, "Id", "Ten", Model.TinhThanhPhoId), "Tỉnh thành phố",
                                new { @class = "form-control select2", @id = "TinhThanhPho" })
                        </div>
                        <div class="col d-inline">
                            @Html.DropDownListFor(m => m.QuanHuyenId, new SelectList(Model.QuanHuyens.Where(x => x.TinhThanhPhoId == Model.TinhThanhPhoId), "Id", "Ten", Model.QuanHuyenId), "Quận huyện",
                                new { @class = "form-control select2", @id = "QuanHuyen" })
                        </div>
                        <div class="col d-inline pull-left">
                            @Html.DropDownListFor(m => m.DuAnId, new SelectList(Model.DuAns, "Id", "TenDuAn", Model.DuAnId), "Dự án", new { @class = "form-control select2" })
                        </div>
                        <div class="col d-inline pull-left">
                            @Html.DropDownListFor(m => m.LoaiNhaDatId, new SelectList(Model.LoaiNhaDats, "Id", "TenLoai", Model.LoaiNhaDatId), "Loại nhà đất", new { @class = "form-control select2" })
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-secondary"><span class="text-black-50"><i class="fas fa-search fa-fw"></i></span> Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="table-responsive">
            <br />
            <table id="dataTable" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Tên nhà đất</th>
                        <th>Tỉnh thành</th>
                        <th>Quận huyện</th>
                        <th>Loại nhà đất</th>
                        <th>Bán/cho thuê</th>
                        <th>Giá</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.NhaDats)
                    {
                    <tr>
                        <td>
                            <a href="@Url.Action("Details", new { id = item.Id})" title="Chi tiết">
                                @Html.DisplayFor(modelItem => item.Ten)
                            </a>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.DuAn.TinhThanhPho.Ten)</td>
                        <td>@Html.DisplayFor(modelItem => item.DuAn.QuanHuyen.Ten)</td>
                        <td>@Html.DisplayFor(modelItem => item.LoaiNhaDat.TenLoai)</td>
                        @if (item.IsRent)
                        {
                            <td>Nhà đất cho thuê</td>
                            <td class="text-center">
                                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", item.GiaThue)
                            </td>
                        }
                        else
                        {
                            <td>Nhà đất bán</td>
                            <td class="text-center">
                                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", item.GiaBan)
                            </td>
                        }
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.Id})" class="btn btn-primary" title="Sửa">
                                <span class="text-white"><i class="fas fa-edit fa-fw"></i></span>
                            </a>
                        </td>
                        <td>
                            <a href="#modalConfirm" data-id="@item.Id" data-toggle="modal" data-target="#modalConfirm" class="btn btn-danger modalLink" title="Xóa">
                                <span class="text-white"><i class="fas fa-trash fa-fw"></i></span>
                            </a>
                        </td>
                    </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa thông tin nhà đất</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có thực sự muốn xóa?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "QuanLyNhaDat"))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id", "", new { @class = "hiddenid" })
                    <input type="hidden" name="id" id="btndelete" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "columns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    { "width": "5%" },
                    { "width": "5%" }
                ],
                "language": {
                    "infoEmpty": "Không có dữ liệu",
                    "search": "Tìm theo từ khóa",
                    "emptyTable": "Không có dữ liệu",
                    "lengthMenu": "Hiển thị _MENU_ mục",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "next": "Kế tiếp",
                        "previous": "Trước"
                    },
                }
            });

            $(".select2").select2();

            $("#TinhThanhPho").change(function () {
                var selectedValue = $(this).children("option:selected").val();
                $.ajax({
                    type: "GET",
                    url: "/api/DuAnApi/GetQuanHuyens/?tinhThanhPhoId=" + selectedValue,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        var selectElement = $("#QuanHuyen");
                        selectElement.empty();
                        data.forEach(function (quanHuyen) {
                            var $option = $("<option/>", {
                                value: quanHuyen.id,
                                text: quanHuyen.ten
                            });
                            selectElement.append($option);
                        });
                    },
                    failure: function (data) {
                    },
                    error: function (data) {
                    }
                });
            });

            $(document).on("click", ".modalLink", function () {
                var passedID = $(this).data('id');
                $(".hiddenid").val(passedID);
            });
        });
    </script>
}
