@model RealEstates.Areas.Admin.Models.NhanVienViewModel

@{
    ViewBag.Title = "NhanVienForm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    #menuQuanLyNhanVien {
        color: white;
        background-color: dodgerblue;
    }
</style>

<p>
    <a href="@Url.Action("Index")" class="btn btn-secondary" title="Trở về danh sách">
        <span><i class="fas fa-arrow-circle-left fa-fw"></i></span>
        Trở về danh sách
    </a>
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline-block">@Model.Title</h6>
    </div>
    <div class="card-body">
        <br />
        @using (Html.BeginForm("Save", "QuanLyNhanVien", FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control col-md-12" } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-md-12" } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.SoDienThoai, htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control col-md-12" } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.PhongBanId, new { @class = "control-label col-md-12" })
                @Html.DropDownListFor(m => m.PhongBanId, new SelectList(Model.PhongBans, "Id", "Ten", Model.PhongBanId), "Chọn phòng ban", new { @class = "form-control col-md-12 select2" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.AccountId, new { @class = "control-label col-md-12" })
                @Html.DropDownListFor(m => m.AccountId, new SelectList(Model.Accounts, "Id", "Email", Model.AccountId), "Chọn tài khoản", new { @class = "form-control col-md-12 select2" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.TrangThai, new { @class = "control-label col-md-12" })
                @Html.DropDownListFor(m => m.TrangThai, new SelectList(Model.TrangThaiNhanVien, "Id", "Text", Model.TrangThai), "", new { @class = "form-control col-md-12 select2" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                @Html.HiddenFor(m => m.Id)
                <input type="submit" class="btn btn-success" value="Lưu" />
            </div>
        </div>
    </div>
        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $(".select2").select2();
        });
    </script>
}

