@model RealEstates.Areas.Admin.Models.SalesViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    #menuSales {
        color: white;
        background-color: dodgerblue;
    }
</style>

@Html.Partial("~/Views/Shared/_Alert.cshtml")

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline-block">Dự án có sản phẩm được phân công cho nhân viên sales</h6>                            
    </div>
    <div class="card-body">
        <br />
        <div class="form-horizontal" style="margin-left: 1rem;">
            @using (Html.BeginForm("Search", "Sales", FormMethod.Get, new { @class = "form-horizontal", role = "form", @name = "searchForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="row">
                        <div class="col d-inline">
                            @Html.DropDownListFor(m => m.TinhThanhPhoId, new SelectList(Model.TinhThanhPhos, "Id", "Ten", Model.TinhThanhPhoId), "Tỉnh thành phố",
                                new { @class = "form-control select2", @id = "TinhThanhPho" })
                        </div>
                        <div class="col d-inline">
                            @Html.DropDownListFor(m => m.QuanHuyenId, new SelectList(Model.QuanHuyens.Where(x => x.TinhThanhPhoId == Model.TinhThanhPhoId), "Id", "Ten", Model.QuanHuyenId), "Quận huyện",
                                new { @class = "form-control select2", @id = "QuanHuyen" })
                        </div>
                        <div class="col d-inline">
                            @Html.DropDownListFor(m => m.LoaiDuAnId, new SelectList(Model.LoaiDuAns, "Id", "TenLoai", Model.LoaiDuAnId), "Loại dự án", new { @class = "form-control select2" })
                        </div>
                        <div class="col d-inline">
                            @Html.DropDownListFor(m => m.TrangThai, new SelectList(Model.TrangThaiDuAn, "Id", "Text", Model.TrangThai), "Trạng thái dự án", new { @class = "form-control select2" })
                        </div>
                        <div class="col d-inline">
                            <button type="submit" class="btn btn-secondary"><span class="text-black-50"><i class="fas fa-search fa-fw"></i></span> Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="table-responsive">
            <table id="dataTable" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Thông báo</th>
                        <th>Tên dự án</th>
                        <th>Loại dự án</th>
                        <th>Địa chỉ</th>
                        <th>Trạng thái dự án</th> 
                        <th>Số sản phẩm</th> 
                        <th>Sản phẩm đã bán/cho thuê</th>
                        <th>Sản phẩm đã tính hoa hồng</th>
                        <th>Doanh thu hiện tại</th>
                        <th>Chi tiết</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DuAns)
                    {
                    <tr>
                        <td>
                            <a href="@Url.Action("ThongBao","Sales", new { id = item.Id})" title="Chi tiết">
                                <span class="badge badge-danger">4</span> Báo cáo công việc mới (hiện thông báo hoàn thành của nhân viên sales chổ này, chưa xử lý)
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details","QuanLyDuAn", new { id = item.Id})" title="Chi tiết">
                                @Html.DisplayFor(modelItem => item.TenDuAn)
                            </a>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.LoaiDuAn.TenLoai)</td>
                        <td>@Html.DisplayFor(modelItem => item.DiaChi)</td>
                        <td>
                            <div class="rounded-pill p-1 text-light bg-success text-center">
                                @Model.TrangThaiDuAn.Single(x => x.Id == item.TrangThai).Text
                            </div>
                        </td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.SoSanPham)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.TongSpDaBanHoacChoThue)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.TongSpDaTinhHoaHong)</td>
                        <td class="text-center">chưa xử lý</td>
                        <td>
                            <a href="@Url.Action("PhanCongByDuAn", new { id = item.Id})" class="btn btn-info" title="Chi tiết">
                                <span class="text-white"><i class="fas fa-eye fa-fw"></i></span>
                            </a>
                        </td>
                    </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "columns": [
                    null,
                    null,
                    null,
                    null,
                    { "width": "15%" },
                    { "width": "5%" },
                    { "width": "5%" },
                    { "width": "5%" },
                    null,
                    { "width": "5%" }
                ],
                "language": {
                    "infoEmpty": "Không có dữ liệu",
                    "search": "Tìm theo từ khóa",
                    "emptyTable": "Không có dữ liệu",
                    "lengthMenu": "Hiển thị _MENU_ mục",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "next": "Kế tiếp",
                        "previous": "Trước"
                    },
                }
            });

            $(".select2").select2();

            $("#TinhThanhPho").change(function () {
                var selectedValue = $(this).children("option:selected").val();
                $.ajax({
                    type: "GET",
                    url: "/api/DuAnApi/GetQuanHuyens/?tinhThanhPhoId=" + selectedValue,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        var selectElement = $("#QuanHuyen");
                        selectElement.empty();
                        data.forEach(function (quanHuyen) {
                            var $option = $("<option/>", {
                                value: quanHuyen.id,
                                text: quanHuyen.ten
                            });
                            selectElement.append($option);
                        });
                    },
                    failure: function (data) {
                    },
                    error: function (data) {
                    }
                });
            });
        });
    </script>
}
