@model RealEstates.Models.DuAn

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    #menuQuanLyDuAn {
        color: white;
        background-color: dodgerblue;
    }
</style>

<p>
    <a href="@Url.Action("Index")" class="btn btn-secondary" title="Trở về danh sách">
        <span><i class="fas fa-arrow-circle-left fa-fw"></i></span>
        Trở về danh sách
    </a>
</p>

<div>
    <h4>DuAn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiDuAn.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiDuAn.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhThanhPho.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhThanhPho.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDuAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDuAn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaTu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChuDauTu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuDauTu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongDienTich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongDienTich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TienDoDuAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TienDoDuAn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuyMoDuAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuyMoDuAn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiThieuDuAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiThieuDuAn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViTri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViTri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaTang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaTang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThietKe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThietKe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatBang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatBang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Media)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Media)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTroTaiChinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTroTaiChinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDonViDuAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDonViDuAn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhDaiDien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>

    </dl>
</div>
