@model RealEstates.Models.DuAn

<div>
    <h4>DuAn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDuAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDuAn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChuDauTu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuDauTu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonViThietKe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonViThietKe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonViThiCong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonViThiCong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienTich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienTich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaTu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HienTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HienTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhoiCong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhoiCong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoanThanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoanThanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienTichDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienTichDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienTichSan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienTichSan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongVonDauTu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongVonDauTu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongTinDuAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongTinDuAn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Media)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Media)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViTri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViTri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhDaiDien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDonViDuAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDonViDuAn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
