@model RealEstates.Models.PhiHoaHong

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    #menuQuanLyPhiHoaHong {
        color: white;
        background-color: dodgerblue;
    }
</style>

<p>
    <a href="@Url.Action("Index")" class="btn btn-secondary" title="Trở về danh sách">
        <span><i class="fas fa-arrow-circle-left fa-fw"></i></span>
        Trở về danh sách
    </a>
</p>

<div>
    <h4>Chi tiết phí hoa hồng đã tính</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Nhân viên sales
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanCongSales.NhanVienSales.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhanCongSales.NhaDat.DuAn.TenDuAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanCongSales.NhaDat.DuAn.TenDuAn)
        </dd>

        @if (Model.PhanCongSales.NhaDat.LoaiNhaDat.IsRent)
        {
            <dt>
                @Html.DisplayNameFor(model => model.PhanCongSales.NhaDat.GiaThue)
            </dt>

            <dd>
                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", Model.PhanCongSales.NhaDat.GiaThue)
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.PhanCongSales.NhaDat.GiaBan)
            </dt>

            <dd>
                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", Model.PhanCongSales.NhaDat.GiaBan)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.PhanCongSales.PhanTramHoaHong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanCongSales.PhanTramHoaHong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongChi)
        </dt>

        <dd>
            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", Model.TongChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

    </dl>

    <a href="@Url.Action("Export", new { id = Model.Id})" class="btn btn-primary" title="Xuất báo cáo">
        <span class="text-white"><i class="fas fa-print fa-fw"></i> Xuất báo cáo</span>
    </a>

</div>
