@using RealEstates.Helper
@model RealEstates.Models.PhanCongSanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    #menuQuanLyPhanCongSanPham {
        color: white;
        background-color: dodgerblue;
    }
</style>

<p>
    <a href="@Url.Action("Index")" class="btn btn-secondary" title="Trở về danh sách">
        <span><i class="fas fa-arrow-circle-left fa-fw"></i></span>
        Trở về danh sách
    </a>
</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DuAn.TenDuAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuAn.TenDuAn)
        </dd>

        <dt>
            Nhân viên Sales
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVienSales.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPham)
        </dd>

        @if (Model.IsRent)
        {
            <dt>
                @Html.DisplayNameFor(model => model.GiaThueThangDau)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GiaThueThangDau)
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.GiaBanSanPham)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GiaBanSanPham)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.PhanTramHoaHong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanTramHoaHong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @SelectOptions.getTrangThaiPhanCongSanPham.SingleOrDefault(x => x.Id == Model.TrangThai).Text
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaTinhHoaHong)
        </dt>

        @if (Model.DaTinhHoaHong)
        {
            <dd>Đã tính hoa hồng</dd>
        }
        else
        {
            <dd>Chưa tính hoa hồng</dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.NguoTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

    </dl>
</div>
