@model RealEstates.Areas.Admin.Models.QuanLyBaoCaoCongViecViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    #menuQuanLyBaoCaoCongViec {
        color: white;
        background-color: dodgerblue;
    }
</style>

@Html.Partial("~/Views/Shared/_Alert.cshtml")


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline-block">Danh sách công việc được phân công</h6>
    </div>
    <div class="card-body">
        <br />
        <div class="form-horizontal" style="margin-left: 1rem;">
            @using (Html.BeginForm("Search", "QuanLyBaoCaoCongViec", FormMethod.Get, new { @class = "form-horizontal", role = "form", @name = "searchForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="row">
                        <div class="col d-inline">
                            @Html.DropDownListFor(m => m.TrangThai, new SelectList(Model.TrangThaiPhanCong, "Id", "Text", Model.TrangThai), "Trạng thái công việc",
                                new { @class = "form-control select2", @id = "TrangThai" })
                        </div>
                        <div class="col d-inline">
                            @Html.DropDownListFor(m => m.DuAnId, new SelectList(Model.DuAns, "Id", "TenDuAn", Model.DuAnId), "Dự án",
                                new { @class = "form-control select2", @id = "DuAn" })
                        </div>
                        <div class="col d-inline">
                            <button type="submit" class="btn btn-secondary"><span class="text-black-50"><i class="fas fa-search fa-fw"></i></span> Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="table-responsive">
            <table id="dataTable" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Dự án</th>
                        <th>Giá bán/thuê</th>
                        <th>Hoa hồng (%)</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái công việc</th>
                        <th>Phí hoa hồng</th>
                        <th>Cập nhật</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PhanCongSales)
                    {
                    <tr>
                        <td>
                            <a href="@Url.Action("Details", "QuanLyNhaDat", new { id = item.NhaDat.Id})" title="Chi tiết">
                                @Html.DisplayFor(modelItem => item.NhaDat.Ten)
                            </a>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.DuAn.TenDuAn)</td>
                        @if (item.NhaDat.IsRent)
                        {
                            <td class="text-center">@Html.DisplayFor(modelItem => item.NhaDat.GiaThue)</td>
                        }
                        else
                        {
                            <td class="text-center">@Html.DisplayFor(modelItem => item.NhaDat.GiaBan)</td>
                        }
                        <td class="text-center">@Html.DisplayFor(modelItem => item.PhanTramHoaHong)</td>
                        <td>@Html.DisplayFor(modelItem => item.NgayTao)</td>
                        <td class="text-center">
                            <div class="rounded-pill p-1 text-light @Model.GetLableColor(item.TrangThai) text-center">
                                @Model.TrangThaiPhanCong.Single(x => x.Id == item.TrangThai).Text
                            </div>
                        </td>
                        @if (item.DaTinhHoaHong)
                        {
                            <td class="text-success text-center">Đã tính hoa hồng</td>
                        }
                        else
                        {
                            <td class="text-danger text-center">Chưa tính</td>
                        }
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.Id})" class="btn btn-primary" title="Cập nhật">
                                <span class="text-white"><i class="fas fa-edit fa-fw"></i></span>
                            </a>
                        </td>
                    </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "columns": [
                    null,
                    null,
                    null,
                    { "width": "5%" },
                    null,
                    { "width": "15%" },
                    { "width": "5%" },
                    { "width": "5%" }
                ],
                "language": {
                    "infoEmpty": "Không có dữ liệu",
                    "search": "Tìm theo từ khóa",
                    "emptyTable": "Không có dữ liệu",
                    "lengthMenu": "Hiển thị _MENU_ mục",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "next": "Kế tiếp",
                        "previous": "Trước"
                    },
                }
            });

            $(".select2").select2();
        });
    </script>
}
