@model RealEstates.ViewModels.DanhSachNhaDatViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Tìm kiếm nhà đất (@Model.NhaDats.Count() nhà đất)</h3>
            </div>
            <div class="box-body">
                <div class="form-horizontal" style="margin-left: 1rem;">
                    @using (Html.BeginForm("Search", "NhaDat", FormMethod.Get, new { @class = "form-horizontal", role = "form", @name = "searchForm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="row">
                                <div class="col d-inline">
                                    @*<input type="text" name="keyWord" class="form-control" placeholder="Nhập từ khóa" aria-label="Search" aria-describedby="basic-addon2">*@
                                    @Html.EditorFor(model => model.KeyWord, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                                </div>
                                <div class="col d-inline">s
                                    @Html.DropDownListFor(m => m.TinhThanhPhoId, new SelectList(Model.TinhThanhPhos, "Id", "Ten", Model.TinhThanhPhoId), "Tỉnh thành phố",
                                        new { @class = "form-control select2", @id = "TinhThanhPho" })
                                </div>
                                <div class="col d-inline">
                                    @Html.DropDownListFor(m => m.QuanHuyenId, new SelectList(Model.QuanHuyens.Where(x => x.TinhThanhPhoId == Model.TinhThanhPhoId), "Id", "Ten", Model.QuanHuyenId), "Quận huyện",
                                        new { @class = "form-control select2", @id = "QuanHuyen" })
                                </div>
                                <div class="col d-inline pull-left">
                                    @Html.DropDownListFor(m => m.DuAnId, new SelectList(Model.DuAns, "Id", "TenDuAn", Model.DuAnId), "Dự án", new { @class = "form-control select2" })
                                </div>
                                <div class="col d-inline">
                                    @Html.DropDownListFor(m => m.LoaiNhaDatId, new SelectList(Model.LoaiNhaDats, "Id", "TenLoai", Model.LoaiNhaDatId), "Loại nhà đất", new { @class = "form-control select2" })
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-secondary"><span class="text-black-50"><i class="fas fa-search fa-fw"></i></span> Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body no-padding">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        @foreach (var item in Model.NhaDats)
                        {
                            <tr>
                                <td>
                                    @{
                                        Html.RenderPartial("~/Views/Shared/_NhaDatAvatar.cshtml", item);
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("Details","NhaDat", new { id = item.Id })" title="Chi tiết">
                                        Tên BĐS: @Html.DisplayFor(modelItem => item.Ten)
                                    </a>
                                </td>
                                <td>
                                    Loại nhà đất: @Model.LoaiNhaDats.SingleOrDefault(x => x.Id == item.LoaiNhaDatId).TenLoai
                                </td>
                                <td>
                                    Tỉnh/thành phố: @item.DuAn.TinhThanhPho.Ten
                                </td>
                                <td>
                                    Quận/huyện: @item.DuAn.QuanHuyen.Ten
                                </td>
                                <td>
                                    Ngày đăng: @item.NgayTao
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".select2").select2();
        });
    </script>
}