<li class="nav-item">
    @Html.ActionLink("Dashboard", "Index", "AdminDashboard", null, new { @class = "nav-link", @id = "menuAdminDashboard" })
</li>

<li class="nav-item">
    @Html.ActionLink("Quản lý dự án", "Index", "QuanLyDuAn", null, new { @class = "nav-link", @id = "menuQuanLyDuAn" })
</li>

<li class="nav-item">
    @Html.ActionLink("Thống kê dự án", "Index", "Sales", null, new { @class = "nav-link", @id = "menuSales" })
</li>

<li class="nav-item">
    @Html.ActionLink("Phân công sản phẩm", "Index", "QuanLyPhanCongSanPham", null, new { @class = "nav-link", @id = "menuQuanLyPhanCongSanPham" })
</li>

<li class="nav-item">
    @Html.ActionLink("Quản lý phí hoa hồng", "Index", "QuanLyPhiHoaHong", null, new { @class = "nav-link", @id = "menuQuanLyPhiHoaHong" })
</li>

<li class="nav-item">
    @Html.ActionLink("Quản lý tin rao BĐS", "Index", "QuanLyTinRao", null, new { @class = "nav-link", @id = "menuQuanLyTinRao" })
</li>

<li class="nav-item">
    @Html.ActionLink("Báo cáo thống kê", "Index", "QuanLyBaoCaoThongKe", null, new { @class = "nav-link", @id = "menuQuanLyBaoCaoThongKe" })
</li>

<li class="nav-item">
    @Html.ActionLink("Quản lý loại dự án", "Index", "QuanLyLoaiDuAn", null, new { @class = "nav-link", @id = "menuQuanLyLoaiDuAn" })
</li>

<li class="nav-item">
    @Html.ActionLink("Thông tin nhân viên", "Index", "QuanLyNhanVien", null, new { @class = "nav-link", @id = "menuQuanLyNhanVien" })
</li>

<li class="nav-item">
    @Html.ActionLink("Quản lý tài khoản", "Index", "QuanLyTaiKhoan", null, new { @class = "nav-link", @id = "menuQuanLyTaiKhoan" })
</li>

<li class="nav-item">
    @Html.ActionLink("Quản lý chat", "Index", "QuanLyChat", null, new { @class = "nav-link", @id = "menuQuanLyChat" })
</li>