<li class="nav-item">
    @Html.ActionLink("Dashboard", "Index", "AdminDashboard", null, new { @class = "nav-link", @id = "menuAdminDashboard" })
</li>

<li class="nav-item">
    @Html.ActionLink("Dự án", "Index", "QuanLyDuAn", null, new { @class = "nav-link", @id = "menuQuanLyDuAn" })
</li>

<li class="nav-item">
    @Html.ActionLink("Loại dự án", "Index", "QuanLyLoaiDuAn", null, new { @class = "nav-link", @id = "menuQuanLyLoaiDuAn" })
</li>

@* danh sách dự án đã phân công cho nhân viên sales, lọc theo loại dự án + tỉnh thành phố + dự án , hiển thị trạng thái hoàn thành hay chưa, có nút "Phân công dự án" *@
<li class="nav-item">
    @Html.ActionLink("Phân công dự án", "Index", "QuanLyPhanCongDuAn", null, new { @class = "nav-link", @id = "menuQuanLyPhanCongDuAn" })
</li>

@* Danh sách phí hoa hồng đã được lập, lọc theo loại dự án + tỉnh thành phố + dự án + nhân viên sales *@
<li class="nav-item">
    @Html.ActionLink("Phí hoa hồng", "Index", "QuanLyPhiHoaHong", null, new { @class = "nav-link", @id = "menuQuanLyPhiHoaHong" })
</li>

<li class="nav-item">
    @Html.ActionLink("Báo cáo thống kê", "Index", "QuanLyBaoCaoThongKe", null, new { @class = "nav-link", @id = "menuQuanLyBaoCaoThongKe" })
</li>

<li class="nav-item">
    @Html.ActionLink("Chat", "Index", "QuanLyChat", null, new { @class = "nav-link", @id = "menuQuanLyChat" })
</li>

<li class="nav-item">
    @Html.ActionLink("Nhân viên", "Index", "QuanLyNhanVien", null, new { @class = "nav-link", @id = "menuQuanLyNhanVien" })
</li>

<li class="nav-item">
    @Html.ActionLink("Tài khoản", "Index", "QuanLyTaiKhoan", null, new { @class = "nav-link", @id = "menuQuanLyTaiKhoan" })
</li>