<li class="nav-item">
    @Html.ActionLink("Dashboard", "Index", "AdminDashboard", null, new { @class = "nav-link text-light", @id = "menuAdminDashboard" })
</li>

@*<li class="nav-item">
    @Html.ActionLink("Quản lý loại dự án", "Index", "QuanLyLoaiDuAn", null, new { @class = "nav-link text-light", @id = "menuQuanLyLoaiDuAn" })
</li>*@

<li class="nav-item">
    @Html.ActionLink("Quản lý dự án", "Index", "QuanLyDuAn", null, new { @class = "nav-link text-light", @id = "menuQuanLyDuAn" })
</li>

<li class="nav-item">
    @Html.ActionLink("Doanh nghiệp BĐS", "Index", "QuanLyThongTinDN", null, new { @class = "nav-link text-light", @id = "menuQuanLyThongTinDN" })
</li>

@*<li class="nav-item">
    @Html.ActionLink("Quản lý loại nhà đất", "Index", "QuanLyLoaiNhaDat", null, new { @class = "nav-link text-light", @id = "menuQuanLyLoaiNhaDat" })
</li>*@

<li class="nav-item">
    @Html.ActionLink("Quản lý nhà đất", "Index", "QuanLyNhaDat", null, new { @class = "nav-link text-light", @id = "menuQuanLyNhaDat" })
</li>

<li class="nav-item">
    @Html.ActionLink("Quản lý tin rao", "Index", "QuanLyTinRao", null, new { @class = "nav-link text-light", @id = "menuQuanLyTinRao" })
</li>

<li class="nav-item">
    @Html.ActionLink("Phân công Sales", "Index", "QuanLyPhanCongSales", null, new { @class = "nav-link text-light", @id = "menuQuanLyPhanCongSales" })
</li>

<li class="nav-item">
    @Html.ActionLink("Quản lý phí hoa hồng", "Index", "QuanLyPhiHoaHong", null, new { @class = "nav-link text-light", @id = "menuQuanLyPhiHoaHong" })
</li>

<li class="nav-item">
    @Html.ActionLink("Thông tin nhân viên", "Index", "QuanLyThongTinNV", null, new { @class = "nav-link text-light", @id = "menuQuanLyThongTinNV" })
</li>

@*<li class="nav-item">
    @Html.ActionLink("Tài khoản nhân viên", "Index", "QuanLyTaiKhoanNV", null, new { @class = "nav-link text-light", @id = "menuQuanLyTaiKhoanNV" })
</li>*@

@*<li class="nav-item">
    @Html.ActionLink("Quản lý loại bài viết", "Index", "QuanLyLoaiBaiViet", null, new { @class = "nav-link text-light", @id = "menuQuanLyLoaiBaiViet" })
</li>*@

<li class="nav-item">
    @Html.ActionLink("Quản lý bài viết", "Index", "QuanLyBaiViet", null, new { @class = "nav-link text-light", @id = "menuQuanLyBaiViet" })
</li>

<li class="nav-item">
    @Html.ActionLink("Quản lý chat", "Index", "QuanLyChat", null, new { @class = "nav-link text-light", @id = "menuQuanLyChat" })
</li>