<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Content/Images/favicon.ico" type="image/x-icon">

    <title>@ViewBag.Title - RealEstates</title>

    <!-- Bootstrap core CSS-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <!-- Custom styles for this template-->
    <link href="~/Content/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-primary">

    <div class="container">
        @RenderBody()
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/umd/popper.min.js"></script>
    @Scripts.Render("~/bundles/lib")

    <!-- Core plugin JavaScript-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="~/Scripts/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/sb-admin.min.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>
