<li class="nav-item">
    @Html.ActionLink("Dự án", "Index", "QuanLyDuAn", null, new { @class = "nav-link", @id = "menuQuanLyDuAn" })
</li>
<li class="nav-item">
    @Html.ActionLink("Loại dự án", "Index", "QuanLyLoaiDuAn", null, new { @class = "nav-link", @id = "menuQuanLyLoaiDuAn" })
</li>
<li class="nav-item">
    @Html.ActionLink("Đơn vị dự án", "Index", "QuanLyDonViDuAn", null, new { @class = "nav-link", @id = "menuQuanLyDonViDuAn" })
</li>
<li class="nav-item">
    @Html.ActionLink("Phí hoa hồng", "Index", "QuanLyPhiHoaHong", null, new { @class = "nav-link", @id = "menuQuanLyPhiHoaHong" })
</li>
<li class="nav-item">
    @Html.ActionLink("Báo cáo thống kê", "Index", "QuanLyBaoCaoThongKe", null, new { @class = "nav-link", @id = "menuQuanLyBaoCaoThongKe" })
</li>
<li class="nav-item">
    @Html.ActionLink("Chat", "Index", "QuanLyChat", null, new { @class = "nav-link", @id = "menuQuanLyChat" })
</li>