@model RealEstates.Models.TinRaoBDS

@{
    ViewBag.Title = "Chi tiết tin rao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Chi tiết tin rao</h3>
                @*<div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>*@
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>
                            @Html.DisplayFor(model => model.TieuDe)
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center">
                        @{
                            Html.RenderPartial("~/Views/Shared/_TinRaoAvatar.cshtml", Model);
                        }
                    </div>
                    <div class="col-md-8">
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.LoaiNhaDat)</dt>
                            <dd>@Html.DisplayFor(model => model.LoaiNhaDat.TenLoai)</dd>

                            <dt>@Html.DisplayNameFor(model => model.GiaTien)</dt>
                            <dd>@string.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", Model.GiaTien)</dd>

                            <dt>@Html.DisplayNameFor(model => model.TinhThanhPho.Ten)</dt>
                            <dd>@Html.DisplayFor(model => model.TinhThanhPho.Ten)</dd>

                            <dt>@Html.DisplayNameFor(model => model.QuanHuyen.Ten)</dt>
                            <dd>@Html.DisplayFor(model => model.QuanHuyen.Ten)</dd>

                            <dt>@Html.DisplayNameFor(model => model.DiaChi)</dt>
                            <dd>@Html.DisplayFor(model => model.DiaChi)</dd>

                            <dt>@Html.DisplayNameFor(model => model.DienTich)</dt>
                            <dd>@Html.DisplayFor(model => model.DienTich)</dd>

                            <dt>@Html.DisplayNameFor(model => model.TuKhoa)</dt>
                            <dd>@Html.DisplayFor(model => model.TuKhoa)</dd>

                            <dt>@Html.DisplayNameFor(model => model.NgayTao)</dt>
                            <dd>@Html.DisplayFor(model => model.NgayTao)</dd>

                            <dt>@Html.DisplayNameFor(model => model.HoTen)</dt>
                            <dd>@Html.DisplayFor(model => model.HoTen)</dd>

                            <dt>@Html.DisplayNameFor(model => model.SoDienThoai)</dt>
                            <dd>@Html.DisplayFor(model => model.SoDienThoai)</dd>

                            <dt>@Html.DisplayNameFor(model => model.Email)</dt>
                            <dd>@Html.DisplayFor(model => model.Email)</dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Custom Tabs -->
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1" data-toggle="tab">@Html.DisplayNameFor(a => a.ThongTinMoTa)</a></li>
                                <li><a href="#tab_2" data-toggle="tab">@Html.DisplayNameFor(a => a.Media)</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    @Html.Raw(Model.ThongTinMoTa)
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">
                                    @Html.Raw(Model.Media)
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>