@model RealEstates.ViewModels.DanhSachTinRaoViewModel
@using RealEstates.Helper

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Tìm tin rao (@Model.TinRaoBDSs.Count() tin rao)</h3>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("Search", "TinRao", FormMethod.Get, new { @class = "form-horizontal", role = "form", @name = "searchForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="row">
                            <div class="col d-inline">
                                @*<input type="text" name="keyWord" class="form-control" placeholder="Nhập từ khóa" aria-label="Search" aria-describedby="basic-addon2">*@
                                @Html.EditorFor(model => model.KeyWord, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                            </div>
                            <div class="col d-inline">
                                @Html.DropDownListFor(m => m.TinhThanhPhoId, new SelectList(Model.TinhThanhPhos, "Id", "Ten", Model.TinhThanhPhoId), "Tỉnh thành phố",
                                    new { @class = "form-control select2", @id = "TinhThanhPho" })
                            </div>
                            <div class="col d-inline">
                                @Html.DropDownListFor(m => m.QuanHuyenId, new SelectList(Model.QuanHuyens.Where(x => x.TinhThanhPhoId == Model.TinhThanhPhoId), "Id", "Ten", Model.QuanHuyenId), "Quận huyện",
                                    new { @class = "form-control select2", @id = "QuanHuyen" })
                            </div>
                            <div class="col d-inline pull-left">
                                @Html.DropDownListFor(m => m.LoaiTinRaoId, new SelectList(Model.LoaiTinRaoBDS, "Id", "Text", Model.LoaiTinRaoId), "Loại tin rao", new { @class = "form-control select2" })
                            </div>
                            <div class="col d-inline">
                                @Html.DropDownListFor(m => m.TrangThai, new SelectList(Model.TrangThaiTinRao, "Id", "Text", Model.TrangThai), "Trạng thái tin rao", new { @class = "form-control select2" })
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-secondary"><span class="text-black-50"><i class="fas fa-search fa-fw"></i></span> Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body no-padding">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        @foreach (var item in Model.TinRaoBDSs)
                        {
                            <tr>
                                <td>
                                    @{
                                        Html.RenderPartial("~/Views/Shared/_TinRaoAvatar.cshtml", item);
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("Details","NhaDat", new { id = item.Id })" title="Chi tiết">
                                        Tin rao: @Html.DisplayFor(modelItem => item.TieuDe)
                                    </a>
                                </td>
                                <td>
                                    Loại nhà đất: @Model.LoaiNhaDats.SingleOrDefault(x => x.Id == item.LoaiNhaDatId).TenLoai
                                </td>
                                <td>
                                    Tỉnh/thành phố: @item.TinhThanhPho.Ten
                                </td>
                                <td>
                                    Quận/huyện: @item.QuanHuyen.Ten
                                </td>
                                <td>
                                    Ngày đăng: @item.NgayTao
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".select2").select2();
        });
    </script>
}