@model RealEstates.ViewModels.LoaiDuAnViewModel

@{
    ViewBag.Title = "LoaiDuAnForm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline-block">@Model.Title</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Save", "QuanLyLoaiDuAn", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.LoaiDuAn.TenLoai, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LoaiDuAn.TenLoai, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LoaiDuAn.MoTa, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.LoaiDuAn.MoTa, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.HiddenFor(m => m.LoaiDuAn.Id)
                    <input type="submit" class="btn btn-success" value="Lưu" />
                </div>
            </div>

            @*if (Model.LoaiDuAn.Id == 0)
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.LoaiDuAn.TenLoai, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.LoaiDuAn.TenLoai, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LoaiDuAn.MoTa, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.LoaiDuAn.MoTa, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.HiddenFor(m => m.LoaiDuAn.Id)
                        <input type="submit" class="btn btn-success" value="Lưu" />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.LoaiDuAn.TenLoai, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.LoaiDuAn.TenLoai)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LoaiDuAn.MoTa, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.LoaiDuAn.MoTa)
                    </div>
                </div>
            }*@
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}