@model RealEstates.Models.DuAn

@{
    ViewBag.Title = "Thông tin dự án";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Thông tin Dự án</h3>
                @*<div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>*@
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>
                            @Html.DisplayFor(model => model.TenDuAn)
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center">
                        @if (!string.IsNullOrEmpty(Model.AnhDaiDien))
                        {
                            <img src="@Html.DisplayFor(model => model.AnhDaiDien)" alt="@Html.DisplayFor(model => model.TenDuAn)" class="img-thumbnail image-detail">
                        }
                        else
                        {
                            <img src="~/Content/Images/AnhDaiDienDuAn/notfound.jpg" alt="" class="img-thumbnail image-detail">
                        }
                    </div>
                    <div class="col-md-8">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.LoaiDuAn.TenLoai)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LoaiDuAn.TenLoai)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TinhThanhPho.Ten)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TinhThanhPho.Ten)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TenDuAn)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TenDuAn)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DiaChi)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DiaChi)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ChuDauTu)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ChuDauTu)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TongDienTich)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TongDienTich)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TienDoDuAn)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TienDoDuAn)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.QuyMoDuAn)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.QuyMoDuAn)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.SoDonViSanPham)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SoDonViSanPham)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.NgayDang)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NgayDang)
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-pills col-sm-12" role="tablist">
                            <li class="active"><a href="#tab_1" data-toggle="tab">@Html.DisplayNameFor(a => a.GioiThieuDuAn)</a></li>
                            <li><a href="#tab_2" data-toggle="tab">@Html.DisplayNameFor(a => a.Media)</a></li>
                            <li><a href="#tab_3" data-toggle="tab">@Html.DisplayNameFor(a => a.ViTri)</a></li>
                            <li><a href="#tab_4" data-toggle="tab">@Html.DisplayNameFor(a => a.HaTang)</a></li>
                            <li><a href="#tab_5" data-toggle="tab">@Html.DisplayNameFor(a => a.ThietKe)</a></li>
                            <li><a href="#tab_6" data-toggle="tab">@Html.DisplayNameFor(a => a.MatBang)</a></li>
                            <li><a href="#tab_7" data-toggle="tab">@Html.DisplayNameFor(a => a.HoTroTaiChinh)</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="container tab-pane active" id="tab_1">
                                @Html.Raw(Model.GioiThieuDuAn)
                            </div>
                            <div class="container tab-pane" id="tab_2">
                                @Html.Raw(Model.Media)
                            </div>
                            <div class="container tab-pane" id="tab_3">
                                @Html.Raw(Model.ViTri)
                            </div>
                            <div class="container tab-pane" id="tab_4">
                                @Html.Raw(Model.HaTang)
                            </div>
                            <div class="container tab-pane" id="tab_5">
                                @Html.Raw(Model.ThietKe)
                            </div>
                            <div class="container tab-pane" id="tab_6">
                                @Html.Raw(Model.MatBang)
                            </div>
                            <div class="container tab-pane" id="tab_7">
                                @Html.Raw(Model.HoTroTaiChinh)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

