@model RealEstates.Models.DuAn

@{
    ViewBag.Title = "Thông tin dự án";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Thông tin Dự án</h3>
                @*<div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>*@
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>
                            @Html.DisplayFor(model => model.TenDuAn)
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center">
                        @{
                            Html.RenderPartial("~/Views/Shared/_DuAnAvatar.cshtml", Model);
                        }
                    </div>
                    <div class="col-md-8">
                        <dl class="dl-horizontal">
                            <dt>Loại dự án: </dt>
                            <dd>@Html.DisplayFor(a => a.LoaiDuAn)</dd>
                            <dt>Chủ đầu tư: </dt>
                            <dd>@Html.DisplayFor(a => a.ChuDauTu)</dd>
                            <dt>Doanh nghiệp BĐS</dt>
                            <dd>@Html.DisplayFor(a => a.DoanhNghiepBDS.Ten)</dd>
                            <dt>Diện tích: </dt>
                            <dd>@Html.DisplayFor(a => a.TongDienTich)</dd>
                            <dt>Giá: </dt>
                            <dd>@string.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", Model.GiaTu)</dd>
                            <dt>Quy mô dự án: </dt>
                            <dd>@Html.DisplayFor(a => a.QuyMoDuAn)</dd>
                            <dt>Hỗ trợ tài chính: </dt>
                            <dd>@Html.DisplayFor(a => a.HoTroTaiChinh)</dd>
                            <dt>Tiến độ dự án</dt>
                            <dd>@Html.DisplayFor(a => a.TienDoDuAn)</dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Custom Tabs -->
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1" data-toggle="tab">@Html.DisplayNameFor(a => a.GioiThieuDuAn)</a></li>
                                <li><a href="#tab_2" data-toggle="tab">@Html.DisplayNameFor(a => a.Media)</a></li>
                                <li><a href="#tab_3" data-toggle="tab">@Html.DisplayNameFor(a => a.ViTri)</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    @Html.Raw(Model.GioiThieuDuAn)
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">
                                    @Html.Raw(Model.Media)
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_3">
                                    @Html.Raw(Model.ViTri)
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>