@using RealEstates.Helper
@model RealEstates.Models.PhanCongSales

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    #menuQuanLyPhanCongSales {
        color: white;
        background-color: dodgerblue;
    }
</style>

<p>
    <a href="@Url.Action("Index")" class="btn btn-secondary" title="Trở về danh sách">
        <span><i class="fas fa-arrow-circle-left fa-fw"></i></span>
        Trở về danh sách
    </a>
</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DuAn.TenDuAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuAn.TenDuAn)
        </dd>

        <dt>
            Nhân viên Sales
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVienSales.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaDat.Ten
       )
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaDat.Ten)
        </dd>

        @if (Model.NhaDat.IsRent)
        {
            <dt>
                @Html.DisplayNameFor(model => model.NhaDat.GiaThue)
            </dt>

            <dd>
                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", Model.NhaDat.GiaThue)
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.NhaDat.GiaBan)
            </dt>

            <dd>
                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", Model.NhaDat.GiaBan)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.PhanTramHoaHong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanTramHoaHong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @SelectOptions.getTrangThaiPhanCongSales.SingleOrDefault(x => x.Id == Model.TrangThai).Text
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaTinhHoaHong)
        </dt>

        @if (Model.DaTinhHoaHong)
        {
            <dd>Đã tính hoa hồng</dd>
        }
        else
        {
            <dd>Chưa tính hoa hồng</dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.NguoTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

    </dl>
</div>
