@model RealEstates.Areas.Admin.Models.PhanCongSanPhamViewModel

@{
    ViewBag.Title = "PhanCongSanPhamForm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    #menuSales {
        color: white;
        background-color: dodgerblue;
    }
</style>

<p>
    <a href="@Url.Action("Index")" class="btn btn-secondary" title="Trở về danh sách">
        <span><i class="fas fa-arrow-circle-left fa-fw"></i></span>
        Trở về danh sách
    </a>
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline-block">@Model.Title</h6>
    </div>
    <div class="card-body">
        <br />
        @using (Html.BeginForm("Save", "Sales", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.DuAnId, new { @class = "control-label col-md-12" })
                @Html.DropDownListFor(m => m.DuAnId, new SelectList(Model.DuAns, "Id", "Ten", Model.DuAns), "Chọn dự án", new { @class = "form-control col-md-12 select2" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.SanPham, htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.EditorFor(model => model.SanPham, new { htmlAttributes = new { @class = "form-control col-md-12" } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @* mặc định không phải sản phẩm cho thuê, ẩn ô giá thuê tháng đầu
                    nếu tick vô sẽ thành dự án cho thuê, hiện ô giá thuê tháng đầu, ẩn ô giá sản phẩm
                *@
                @Html.LabelFor(model => model.IsRent, htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.CheckBoxFor(model => model.IsRent, new { htmlAttributes = new { @class = "form-control col-md-12" } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.GiaThueThangDau, htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.EditorFor(model => model.GiaThueThangDau, new { htmlAttributes = new { @class = "form-control col-md-12" } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.GiaSanPham, htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.EditorFor(model => model.GiaSanPham, new { htmlAttributes = new { @class = "form-control col-md-12" } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.PhanTramHoaHong, htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.EditorFor(model => model.PhanTramHoaHong, new { htmlAttributes = new { @class = "form-control col-md-12" } })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.NhanVienSalesId, new { @class = "control-label col-md-12" })
                @Html.DropDownListFor(m => m.NhanVienSalesId, new SelectList(Model.NhanViens, "Id", "Ten", Model.NhanVienSalesId), "Chọn nhân viên", new { @class = "form-control col-md-12 select2" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.TrangThai, new { @class = "control-label col-md-12" })
                @Html.DropDownListFor(m => m.TrangThai, new SelectList(Model.TrangThaiPhanCong, "Id", "Text", Model.TrangThai), "Trạng thái phân công", new { @class = "form-control col-md-12 select2" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                @Html.HiddenFor(m => m.Id)
                <input type="submit" class="btn btn-success" value="Lưu" />
            </div>
        </div>
    </div>
        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $(".select2").select2();
        });
    </script>
}

